/* CityList.js css */
* {
    box-sizing: border-box;
}

body {
    margin: 1em;
    font-family: Titillium Web;
}

.container {
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
}

h1 {
    margin: 10px;
}

div {
    font-size: 14px;
}

.subtitle {
    margin: 10px;   
}

.selector {
    min-width: 200px;
    padding: 10px;
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    font-family: Titillium Web;
}

.selector:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.displayList {
    margin: 20px 10px;
}

.displayList div {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    width: 500px;
    font-size: 14px;
    border-radius: 3px;
}

.displayList div span {
    font-weight: bold;
}